html body {
    background: url(../images/background.jpg)
}

/* Container for logo and subtitle */
.container {
    text-align: center;
    margin: 50px;
    margin-bottom: 10px;
}

#main-logo {
    display: inline-block;
    width: 350px;
    height: 150px;
}

#subtitle {
    line-height: 1px;
    font-family: 'Press Start 2P', cursive;    
    font-size: 40px;
    color: #FFD700;
}

/* Container for dynamic elements */
#main-content {
    width: 100%;
}

.character {
    display: inline-block; 
}

.character-container {
    border: solid 1px #ffffff;
    display: inline-block;
}

h6 {
    font-family: 'Press Start 2P', cursive;    
    color: #000000;
    margin: 0px;
    background: #ffffff
}

/* Dynamic image container */
#character-image {
    width: 200px;
    height: 100px;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    color: #ffffff;
}